### Windows
# Windows thumbnail cache files
Thumbs.db

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Credenciales y configuracion local
app/config/database.local.php
app/config/mail.local.php
/app/storage/rhe/
